@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
  --secondary-text-color:#577592;
  --accent-color:#2294ed;
  --accent-color-dark:#1d69a3;
  --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
    
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    
    color: var(--secondary-text-color);
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

.container{
    max-width: 1100px;
    border: .5px solid green;
    margin-inline: auto;
    
    
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color:var(--primary-text-color);
  }

 .hover-link:hover{
    color: var(--accent-color);
    transition: 0.2s ease-in-out;
 } 
 .primary-button{
    border: .5px solid rgb(90, 90, 160);
    border-radius: 6px;
    font-weight: 500;
    color: white;
    padding: 12px 12px;
    background-color:var(--accent-color);
 }

 .primary-button:hover{
    background-color: var(--accent-color-dark);
    color: white;
    transition: .2s ease-in-out;
 }

 .secondary-button{
    border: .5px solid rgb(90, 90, 160);
    border-radius: 6px;
    font-weight: 500;
    
    padding: 12px 12px;
   
 }


/* top-banner */
.top-banner{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding:20px  10px;
    background-image: url('./images/asset\ 32.png');
    background-size: 300px;
    
  }

  /* navbar */
  nav{
    margin-top: 20px;
  } 

  .company-logo img{
    width: 200px;
  }

  .main-nav{
    justify-content: space-between;

  }

  .navbar-feature ul{
    gap: 20px;
    justify-content: end;
  }


  /* header  */

  .header-section{
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
  }
  .header-right img{
    width: 600px;
  }

  .header-left{
    max-width: 400w;
  }
  .header-left h1,p{
    margin-bottom:20px;
  }
  

  /* companies header  */
  .companies{
    flex-direction: column;
  }
  .logos{
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
 }

 .logo{
    height: 46px;
 }

.upper-part{
    margin-top: 80px;
    text-align: center;
}